h4 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.btn {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 5%;
    margin-bottom: 0%;
    color: #1976D2;
}

h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.sobre {
    font-family: 'Open Sans Condensed', sans-serif;
}

hr.divider {
  height: 0.2rem;
  max-width: 4.25rem;
  margin: auto;
  background-color: #1976D2;
  opacity: 1;
}

footer {
    font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-nav {
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 12px; 
    font-weight: 700;
}

.container-fluid {
    margin-left: 15%;
}

.container {
    font-family: 'Encode Sans SC', sans-serif;
}

.img-fluid {
    height: 43%;
}

.card-title {
    color: #ab47bc;
    font-size: 15px; 
    font-weight: 700;
}

.parceiros {
    margin-left: 17%;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1976D2;
    font-weight:bolder;
}

p {
    color: #424242;
}

.card-text {
    color: #424242;
}

span {
    color: #424242;
}

.carousel-item img{
    height: 500px;
    width: 400px;
}

.nutri {
    font-family: 'Open Sans Condensed', sans-serif;
}

.video-fluid {
  width: 50%;
  height: auto;
}

.topo {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1976D2;
    font-weight: bold;

}

.topo:hover {
    color: #5598db
}

/* BOTÃO FLUTUANTE */

.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#1976D2;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index:1000;
	animation: bot-to-top 2s ease-out;
}

.float:hover{
    color: #FFF;
    background-color: #5598db;
}

ul{
	position:fixed;
	right:40px;
	padding-bottom:20px;
	bottom:80px;
	z-index:100;
}

ul li{
	list-style:none;
	margin-bottom:10px;
}

ul li a{
	background-color:#1976D2;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	width:60px;
	height:60px;
	display:block;
}

ul li a:hover{
    color: #5598db;
}

ul:hover{
	visibility:visible!important;
	opacity:1!important;
}


.my-float{
	font-size:24px;
	margin-top:18px;
}

a#menu-share + ul{
  visibility: hidden;
}

a#menu-share:hover + ul{
  visibility: visible;
  animation: scale-in 0.5s;
}

a#menu-share i{
	animation: rotate-in 0.5s;
}

a#menu-share:hover > i{
	animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}

@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}

@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}